<launch>
    <node name="system_tracker" pkg="system_state" type="system_state_tracker.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
    <node name="mission_parser" pkg="system_state" type="load_mission.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
    <node name="vision_system" pkg = "system_state" type="vision_system.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
    <node name="locomotion" pkg="system_state" type="locomotion.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
    <node name="endeffector" pkg="system_state" type="end_effector.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
    <node name="button" pkg="system_state" type="button.py" output="screen" launch-prefix="/home/ubuntu/SPARO/ROS_modules/ros_tmux.sh"/>
</launch>
